name: Run PHPUnit

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        ports:
          - 3306:3306

      redis:
        image: redis:6
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: mbstring, pdo_mysql
          coverage: none

      - name: Install Composer Dependencies
        run: composer install --no-progress --prefer-dist

      - name: Copy ENV
        run: cp .env.example .env

      - name: Prepare DB
        run: |
          php artisan key:generate
          php artisan migrate --force

      - name: Run PHPUnit
        run: vendor/bin/phpunit --testdox
